@import "./modules/nullstyle.scss";

body {
    background: #171717;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-family: "Montserrat";
    font-size: 52px;
    font-weight: 400;
    font-style: normal;
    color: rgb(220, 220, 220);
    text-align: center;
}

.article {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    background: rgba(0, 0, 0, 0.08);
    transition: all .3s ease;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    &:last-child {
        margin-bottom: 0;
    }
}
.articleCategory,
.articleTitle,
.aticleDate {
    display: inline-block;
    margin-bottom: 10px;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;

    color: rgb(220, 220, 220);
}

.articleCategory {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 4px;
    font-size: 14px;
    background: #c11a19;
}
.articleTitle {
    font-size: 24px;
    margin: 0 10px;

}
.aticleDate {
    font-size: 14px;
    margin-bottom: 0;
    margin: 0 10px;
}


.header {
    width: 100%;
    height: 50px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(23, 23, 23, 0.922);
        backdrop-filter: blur(3px);

        overflow: hidden;

        border-bottom: 4px solid #c11a19;
    }

    // .header__logo

    &__logo {
        height: 35px;
    }

    // .header__nav

    &__nav {
    }

    &__navLink {
        font-family: "Montserrat";
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: rgb(220, 220, 220);

        margin-left: 10px;
        position: relative;

        &:first-child {
            margin-left: 0;
        }

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;

            background: #c11a19;
            position: absolute;
            bottom: -2px;
            left: 0;

            transition: all .3s ease;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }

    }

    // .header__search

    &__search {
        display: flex;
        max-width: 300px;
        height: 100%;

        position: relative;
    }

    &__searchBtn {
        width: 60px;
        height: 100%;

        background: #c11a19;
        border: 1px solid #c11a19;
        outline: none;

        cursor: pointer;

        position: relative;
        z-index: 12;
    }

    &__searchInput {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 10px;
        margin: 0;

        border: none;
        outline: none;
        background: #fff;

        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 400;
        font-style: normal;

        position: relative;
        z-index: 11;
    }
}

.main {
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;

    background-image: url(../img/mainBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    position: relative;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
            rgba(23, 23, 23, 0.85),
            rgba(23, 23, 23, 1)
        );
        z-index: 0;
    }

    // .main__title

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 500px;
        margin: 0 auto 40px auto;

        position: relative;
        z-index: 1;
    }

    // .main__titleRow

    &__titleRow {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        overflow: hidden;

        &:nth-child(1) > .main__decryption {
            animation: decryptionAnim 1.5s ease forwards alternate .5s;
        }
        &:nth-child(2) > .main__decryption {
            animation: decryptionAnim 1.5s ease forwards alternate 1s;
        }
        &:nth-child(3) > .main__decryption {
            animation: decryptionAnim 1.5s ease forwards alternate 1.5s;
        }
    }

    // .main__redSquare

    &__redSquare {
        display: flex;
        align-items: center;
        width: 100px;
        height: 100px;
        margin-right: 20px;

        background: #c11a19;
        position: relative;
        z-index: 1;

        & span {
            display: inline-block;
            width: 100%;
            text-align: center;

            font-family: "Montserrat";
            font-size: 64px;
            font-weight: bold;
            font-style: normal;
            color: #171717;
        }
    }

    // .main__decryption

    &__decryption {
        display: inline-block;

        font-family: "Montserrat";
        font-size: 32px;
        font-weight: bold;
        font-style: normal;
        color: rgb(220, 220, 220);
        
        transform: translateX(-150%);

        position: relative;
        z-index: 0;

        
    }

    @keyframes decryptionAnim {
      from {
        transform: translateX(-150%);
      }
      to {
        transform: translateX(0);
      }
    }

    &__description {
        font-family: "Montserrat";
        font-size: 32px;
        font-weight: 400;
        font-style: normal;
        color: rgb(220, 220, 220);
        text-align: center;

        position: relative;
        z-index: 1;
    }
}

.news {
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;

    background: rgb(23, 23, 23);
    border-top: 2px solid #c11a19;

    // .news__articles

    &__articles {
        margin-top: 30px;
    }
}
