@import "./modules/nullstyle.scss";

body {
    background: #171717;
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.title {
    font-family: "Montserrat";
    font-size: 52px;
    font-weight: 400;
    font-style: normal;
    color: rgb(220, 220, 220);
    text-align: center;

    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 32px;
    }
}

.textContent {
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 30px 0;
    font-style: normal;
    color: rgb(220, 220, 220);

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
}

.article {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    background: rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.articleCategory,
.articleTitle,
.aticleDate {
    display: inline-block;
    margin-bottom: 10px;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;

    color: rgb(220, 220, 220);
}

.articleCategory {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 4px;
    font-size: 14px;
    background: #c11a19;
}
.articleTitle {
    font-size: 24px;
    margin: 0 10px;

    @media screen and (max-width: 767px) {
        font-size: 18px;
    }
}
.aticleDate {
    font-size: 14px;
    margin-bottom: 0;
    margin: 0 10px;

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}



@import "./modules/header.scss";

@import "./modules/main.scss";

@import "./modules/news.scss";

@import "./modules/newsblock.scss";

@import "./modules/footer.scss";

@import "./modules/webpdd.scss";

